@charset "UTF-8";



body {

    background-image: linear-gradient(to right, pink, black);
}

h1 {

    text-align: center;
}


section {

     background-color: white;
     padding: 10px;
     width: 550px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 10px;
}

#inputs {

    width: 100px;
}

p {

    font-size: 1.3em;
}

input {

    border-radius: 5px;
}

.botao:hover {

    width: 100px;
    height: 40px;
}

.botao {

    padding: 7px;
    font-weight: bolder;
    box-shadow: 1px 1px 10px
}

#res {

    margin-top: 10px;
    padding: 10px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

footer {

    text-align: center;
}