@charset "UTF-8";



body {

    background-image: linear-gradient(to right, pink, black);
}

h1 {

    text-align: center;
}


section {

     background-color: white;
     padding: 10px;
     width: 550px;
     display: flex;
  
}